In [1]:
import pandas as pd
df_sales = pd.read_excel('appliance_sales_100_rows.xlsx')
df_sales.head()

  Year_Quarter  Fridge  Dishwasher  Washing Machine
0      2024-Q3   125.4       159.9             76.1
1      2022-Q4   148.6       155.9            131.1
2      2025-Q1   116.5        91.1            119.2
3      2025-Q2   201.4       176.2            103.0
4      2022-Q3   239.0        61.5            226.8