In [1]:
import pandas as pd

In [2]:
india_weather = pd.DataFrame({
    "city":['mumbai','kolkata','delhi','bangalore'],
    "temp":[32 ,43 ,43 ,21],
    "humidity":[80,90,100,78]
})
india_weather

        city  temp  humidity
0     mumbai    32        80
1    kolkata    43        90
2      delhi    43       100
3  bangalore    21        78